<div class="container-fluid">
  <div class="jumbotron">
    <h1>x-ng2-seed</h1>
  </div>
  <div>
    <h4 *ngIf="authService.authenticated()">You are logged in</h4>
    <h4 *ngIf="!authService.authenticated()">You are not logged in, please click 'Log in' button to login</h4>
  </div>

  <div>
  <form (submit)="addName()">
    <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
    <button type="submit">Add</button>
  </form>

  <ul>
    <li *ngFor="let name of names">{{name}}</li>
  </ul>
  </div>

<div>
  <h4>Confirm Button</h4>
  <button
      class="btn btn-default"
      mwlConfirm
      [title]="title"
      [message]="message"
      placement="right"
      (confirm)="confirmClicked = true"
      (cancel)="cancelClicked = true"
      [(isOpen)]="isOpen">
      Click me!
    </button>
  </div>

  <div>
  <h4>Ng2 Modal</h4>
    <button (click)="lgModal.show()">Show Modal</button>
  </div>

  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Large modal</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
      </div>
    </div>
  </div>

</div>

