<div class="container">
  <div class="jumbotron">
    <h1>x-ng2-seed</h1>
  </div>
  <div>
    <h4 *ngIf="oauth.authenticated()">You are logged in</h4>
    <h4 *ngIf="!oauth.authenticated()">You are not logged in, please click 'Log in' button to login</h4>
  <div>

  <form (submit)="addName()">
    <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
    <button type="submit">Add</button>
  </form>

  <ul>
    <li *ngFor="let name of names">{{name}}</li>
  </ul>
</div>
